[2019-02-13 18:23] RyanWork opened #1 "Implement CI"
As per the outline, we need to integrate our app with some CI. Recommended Travis, but it can be any CI.

[2019-02-13 18:23] RyanWork opened #2 "Deploy on Heroku"

[2019-02-13 18:24] RyanWork opened #3 "Format Readme File"
They will be looking through the readme file, someone should format and put stuff in it.

[2019-02-13 18:30] RyanWork commented on #3
The README.md file on Github should summarize the current state of the project as per the Kanban, and include a plan for the next sprint. It should also include the up-to-date schema of the database.

[2019-02-13 18:36] RyanWork opened #4 "Create Kanban (Project Board)"

[2019-02-13 18:39] #4 closed, assigned to RyanWork

[2019-02-13 18:45] RyanWork opened #5 "Build Database Schema"
Professor Esfandiari mentioned we can create a database schema directly from IntelliJ.

[2019-02-13 18:59] RyanWork opened #6 "Create Feature Branches"
We all need to make a feature branch. Recommended! And it says in the outline "The project must have a master branch, and each contributor should create a new branch for each of the features they implement."

[2019-02-13 19:16] RyanWork opened #7 "Weekly scrum – February 22, 2019"

[2019-02-13 19:46] K-shamG opened #8 "DB Design"
Need to decide on:
- tables to have
- attributes of tables
- relationships

![52002719_348923782618666_7516838563577593856_n](https://user-images.githubusercontent.com/15951317/52739086-24306380-2f9e-11e9-9fe6-6d671d44adc4.jpg)

[2019-02-13 19:47] #8 closed

[2019-02-13 19:49] K-shamG commented on #5
![52002719_348923782618666_7516838563577593856_n](https://user-images.githubusercontent.com/15951317/52739086-24306380-2f9e-11e9-9fe6-6d671d44adc4.jpg)

[2019-02-13 22:16] RyanWork opened #9 "Create UML Class Diagram"
Should only be a class diagram of our models.

[2019-02-13 23:14] RyanWork commented on #5
I think it seems okay for the most part. Can you elaborate on the Category/Course relationship table? From my interpretation, there should be a relationship between Category/Learning Outcomes instead. Based on the description:

This was my interpretation of the model relationships.

![image](https://user-images.githubusercontent.com/15223407/52750855-5c926a80-2fbb-11e9-9f52-83b4fa840bac.png)

_**E

[2019-02-14 14:43] K-shamG commented on #5
This also makes sense. How I saw it was since it says show "all the learning outcomes within a given category, all the courses covering a given category", I assumed it meant we can grab all the categories associated with a course and since it's a 1-to-many for LO and category, you could then grab the LO's that fall under this category.

BUT I think your way makes more sense. So, it will be a Cours

[2019-02-14 15:44] K-shamG commented on #5
![db schema v1](https://user-images.githubusercontent.com/15951317/52798210-77112600-3045-11e9-8775-ff8fa824d85e.png)

[2019-02-14 16:48] K-shamG opened #10 "Create use cases"
- we need to define some use cases/features that we want to have
- need to organize it into which will be completed in each sprint so we have an overall plan

[2019-02-14 17:02] K-shamG commented on #5
^I was looking into JPA db stuff like we did in class, and I dont think we need the subtables (ProgramCourses and CourseLO's) because we just use the @ManyToMany

[2019-02-14 17:20] RyanWork commented on #5
I believe the annotations provided by JPA is an abstraction of the ORM process. I think that behind the scenes JPA is still building the relationships between the @ManyToMany relation. I suppose IntelliJ will tell us, but for now I think this is okay.

This will give us a lead on the type of models we need to define. From there we can finish up Issue #9 .

[2019-02-14 17:35] K-shamG commented on #3
I put a table for our Kanban current state using this: https://www.tablesgenerator.com/markdown_tables

[2019-02-14 17:57] SupriyaGadigone opened #11 "Features/UI Breakdown"
I think the project description wants this as a UI:
1.  In the first page the user enters, a dropdown list for year and program can be setup
2.  Once both are selected and user hits Submit
   -  The categories
   -  Learning outcomes in the category
   - All courses in a given category
   - All learning outcomes on a given course
3.  Beside each of the row or table, there would be an edit option f

[2019-02-14 18:40] K-shamG commented on #11
We can also use AJAX to have the submit automatically update the page without refreshing it

[2019-02-14 19:57] RyanWork commented on #1
closed : CI is implemented. See https://travis-ci.org/RyanWork/SYSC4806-WDWH

[2019-02-14 19:59] RyanWork opened #12 "Travis build failing on First Build"
CI is failing on our initial implementation of the project. @SupriyaGadigone and @RyanWork are working on it. If you guys figure it out we're open to any solutions!

[2019-02-14 19:59] K-shamG commented on #11
We have two options for users that I can think of:
1. Have user accounts for everyone and therefore set roles from there. This would require a user table and checking of permissions to determine which page they get sent to (editable or not). This would also have the potential for having users save preferences for their account, but this would add another feature/complexity to deal with.

2. Have a

[2019-02-14 20:14] RyanWork commented on #1
Migrated repository to an organization, new link is https://travis-ci.org/sysc4806/SYSC4806-WDWH

[2019-02-14 20:14] #1 closed, assigned to RyanWork, SupriyaGadigone

[2019-02-14 20:47] K-shamG commented on #12
There was just an issue with the maven setup, but we we are good to go now!

[2019-02-14 20:47] #12 closed, assigned to RyanWork, SupriyaGadigone, K-shamG

[2019-02-14 20:52] RyanWork commented on #11
I think overall it would be better to implement number one. We may have intermediary roles in the future. If this does take off, maybe certain people have access to certain features that are not just strictly guest/admin.

We can, however, try and implement number two just by having two roles at first. Guest/Admin. I don't know if you guys agree. I don't think it should be too hard though. We woul

[2019-02-14 20:59] SupriyaGadigone commented on #11
I think trying number 2 for now would be better since we always have the flexibility to move to 1 from there. But overall for the future 1 is better I agree.

[2019-02-14 21:34] adamstaples commented on #11
I agree with Supriya, plus an login system seems like a pretty popular functionality that we might be able to just import and implement easily.

[2019-02-15 00:18] K-shamG commented on #2
Should we make a generic email for this project so we can all access the Heroku account?

[2019-02-16 00:53] RyanWork commented on #2
We could create a team? It doesn't cost anything extra as long as their are <= 5 people on it (enough for our team). Do you know if there are any additional costs that can be incurred from Heroku?

[2019-02-16 01:30] K-shamG commented on #2
I'm using heroku for my fourth year, and there are no extra costs unless you want special add-ons so we are probably safe.

[2019-02-16 02:28] RyanWork commented on #2
Yikes, looks like we will make a universal account. We can't use free dynos if we have teams. I'll DM you guys the credentials

[2019-02-16 02:41] RyanWork commented on #2
Woops, closed it by accident.

I created an account and linked the repository. The next step is actually hosting something on Heroku and praying that it works :p

[2019-02-19 01:58] SupriyaGadigone commented on #11
I am trying to work on some basic UI for the application and as per the UI breaking it down into Features, DB’s needed and use cases so after we can write everything down in the right issues and get programming soon, just made it easier or me to organize it this way: https://docs.google.com/document/d/18qV4hYCnySDYaes7utWehgLtyr86n1whkJopnsd8fpk/edit?usp=sharing

I was just curious if anyone had a

[2019-02-19 17:58] K-shamG commented on #11
I've done some rough sketches of what I think the UI should look like and here's what I came up with. It was tricky because there is so much data so I'm definitely open to suggestions and ideas.

I was thinking the top of the page would look like this:

![image](https://user-images.githubusercontent.com/15951317/53036222-46fec400-3445-11e9-8ff1-30cf3995bae3.png)
So you would select the program and

[2019-02-19 19:18] K-shamG commented on #11
Features/Issues
- create models and controllers
- connect to models DB
- populate DB's with starter info
- display info for program/year
- change info upon submit
- filtering
- export to CSV
- HTML UI design

[2019-02-19 21:15] andrewdlqnguyen commented on #5
Hey sorry for hopping on the project so late.
Anyways, yea the table i came up with is pretty much the same as Ryan's.
Can't we have the course program, and LO populate all the list without CourseLearningOutcomes and ProgramCourses classes included?

[2019-02-19 21:23] andrewdlqnguyen commented on #10
Goal: Track, edit, update the LO system for all the programs in the department.

User should be able to list:
- Given year
- Given program
- All learning outcomes
- All categories
- All LO in given category
- All courses in given category
- All LO in given course
- export any of the results as CSV (comma-separated) file
- admin edit everything (exception of some limited list)

[2019-02-19 22:05] RyanWork commented on #5
In the ORM process we build relationship tables when there is a many-to-many relationship. It's just how the mapping works so we minimize the amount of redundancy in our databases.

I think we can close this issue. Our database seems okay. We can reopen it if we later feel that we need to edit it. For the most part, it should be good enough to start using. The schema will probably change once we s

[2019-02-19 22:05] #5 closed, assigned to nobody

[2019-02-19 22:06] RyanWork opened #15 "Implement Database Schema"
I think based on #5 we have a comfortable place to start with building our database. This will likely be implemented as a [CRUDRepository](https://docs.spring.io/spring-data/commons/docs/current/api/org/springframework/data/repository/CrudRepository.html) like we did in the labs.

[2019-02-19 22:15] andrewdlqnguyen commented on #11
I agree with Supriya on doing 2 for simplicity then 1 after for future usability.
Giving users its role as guest or admin on login would be less inconvenient for those logging in as admin (the system should know the login is an admin by checking privileges to allow an alternative selection for possible edit) then having them log in again to prove their admin for edit.

Example/ admin login will se

[2019-02-19 23:26] K-shamG opened #16 "Export to CSV"
- should generate CSV based on currently selected program, year and any filters applied to the results
- from there, you should be able to select which columns you want to show up in your CSV based on a form similar to this:
![image](https://user-images.githubusercontent.com/15951317/53054781-83491900-3473-11e9-886d-31ef09aab0ce.png)

It should be possible to generate a CSV for the following given

[2019-02-19 23:29] K-shamG opened #17 "Create Skeleton Models"
We need models for each of the DB tables based on the configuration from Issue #5. Each column should be an attribute for that class.

Models needed:
- LearningOutcome
- Category
- Course
- Program

[2019-02-19 23:31] K-shamG opened #18 "Create Model DB Connections"
Using the annotations "@OneToMany" etc, the models needed to be connected as per Issue #5
- Course -> LO, many to many
- Course -> Program, many to many
- Category to LO, one to many

[2019-02-19 23:33] K-shamG opened #19 "Filtering"
Filtering should be done with respect to the following (see Issue #11):
- course
- category
- course year (range of 1 - 4)
- semester

[2019-02-19 23:34] K-shamG opened #20 "Sorting/Ordering"
A user should be able to sort the results based on the column (alphabetical, ascending/descending)

[2019-02-19 23:36] K-shamG opened #21 "Admin Rights"
An admin should be able to edit the category field upon login

[2019-02-19 23:39] K-shamG opened #22 "Populate DB with Data"
Issue #15 and #17 must be done first so the DB is created properly

[2019-02-19 23:53] K-shamG commented on #11
I think we have enough of a basic idea to close this issue. We can revisit the UI during iteration 2 when we start to add styling.

[2019-02-19 23:53] #11 closed, assigned to RyanWork, SupriyaGadigone, K-shamG, adamstaples, andrewdlqnguyen

[2019-02-20 17:11] RyanWork commented on #9
Here is my drawing of the UML Class Diagram for only the models (as specified in the required docs)
`. . . Include a UML class diagram of your Models (and only of the Models!)`

Can someone please validate the correctness of this? Thank you!

![umlclassdiagram](https://user-images.githubusercontent.com/15223407/53110180-6ca0d180-3508-11e9-900f-34837bb65326.png)

[2019-02-20 18:48] K-shamG commented on #9
I'm not sure about the 0 on the Program side. Doesn't a program have to have courses (aka that 0 should be a 1)?

For further filtering, we may want to add a "semester" attribute to Course (but this can be added during the second iteration). And I'm guessing we will add the methods later, once the models are developed? Otherwise, it looks good to me.

[2019-02-20 19:18] RyanWork commented on #9
I suppose you could argue the fact that a newly introduced program may not have any set of courses yet, but the program could exist? I don't believe the relationship between the two is that strong. Maybe the others have opinions on it. Fundamentally, this is probably a design choice issue.

Looking back, I could have made the Category/LearningOutcome relationship an aggregation? What do you think?

[2019-02-21 00:13] K-shamG commented on #9
Yeah, I see your point - I'm cool with 0 then. They could definitely all be notated as aggregations.

[2019-02-21 23:03] RyanWork commented on #9
Mehh, I think they might be okay as associations looking back on it. An aggregation is more like saying something is part of something. It is composed of a set of things. All of these classes seem relatively independent. I think... I feel like it should be okay as it is then.

[2019-02-21 23:46] K-shamG commented on #9
I agree for most of the relationships except program vs course. I think that should be an aggregation because a course belongs to a program but can exist independently without a program as well.

[2019-02-21 23:57] RyanWork commented on #17
closed: Models were implemented

[2019-02-21 23:57] #17 closed, assigned to SupriyaGadigone

[2019-02-21 23:58] #6 closed, assigned to RyanWork, SupriyaGadigone, K-shamG, adamstaples, andrewdlqnguyen

[2019-02-21 23:59] RyanWork commented on #10
I like the suggestions. Can we make this into an actual use case diagram?

[2019-02-22 00:04] RyanWork opened #24 "Create Main Feature View"
As per Kshamina's drawings in #11 and the [Google Drive](https://drive.google.com/file/d/1aiTNQWXCWxqQmKRkqDpJP0ySx5Oba5Mp/view), we need to actually implement some of the static elements of this web page without the functionality.

[2019-02-22 16:29] K-shamG commented on #7
What have I done this week?
- wrote fix for Travis build issue #12
- assisted with design of DB Schema #5
- assisted with design of Entity classes #9
- assisted with design of basic UI #11
- formatted README File (still in progress) #3

What will I do next week?
- continue formatting README #3
- create basic UI #24

What is holding me back? (if applicable)
- N/A

[2019-02-22 18:15] SupriyaGadigone commented on #7
What have I done this week?

- Started discussions on Features/UI Breakdown #11
- Implemented DB skeleton models #17
- Initiated setup for repository by adding Maven and Travis integration (which had errors)

What will I do next week?

- Populate DB with Data #22
- Create Model DB Connections #18

[2019-02-22 18:17] SupriyaGadigone opened #26 "Weekly scrum – March 1, 2019"
every team member should add comments with their own contribution, i.e. their answers to the questions:

* what have I done this week?
* what will I do next week?
* what is holding me back? (if applicable)
* Expected length: 1-2 sentences per item.

[2019-02-22 19:03] RyanWork commented on #7
What have I done this week?

- Built the GitHub! Organized the Repo with the Kanban #4
- Created the REST Repositories for our models #15 & #25
- Setup an account for Heroku to deploy #2
- Started the basis for our models in the UML Class Diagram #9
- Contributed to building database schema #5
- Setup Travis CI #1

What will I do next week?
- Finalize our model class diagram #9
- I want to start c

[2019-02-22 23:49] adamstaples commented on #7
What have I done this week?
- Reviewed UML #9
- Reviewed feature branches #6

What will I do next week?
- Create use case diagram as in issue #10
- Look into implementing database scheme #15
- Move onto populating DB with data #22
- Review issue #25

[2019-02-23 00:51] andrewdlqnguyen commented on #7
What have I done this week?

- Reviewed and assisted Features/UI Breakdown #11
- Reviewed UML #9
- Looked into Create use cases #10

What will I do next week?

- Looking into helping with test cases
- Looking into helping with UI
- Work on the Main Feature View #24
- Work on the admin vs guest privileges #21

[2019-02-23 00:58] #7 closed, assigned to RyanWork, SupriyaGadigone, K-shamG, adamstaples, andrewdlqnguyen

[2019-02-23 03:08] RyanWork commented on #15
See #25.

[2019-02-23 23:43] K-shamG commented on #24
See #27

[2019-02-25 00:58] SupriyaGadigone opened #28 "Test Cases for Model DB Connections"
Will have to wait for the repositories pull request to be merged before working on this. Assigning this to  everyone who mentioned they want to work on this in the scrum.

[2019-02-25 14:42] SupriyaGadigone opened #30 "Implement Admin Login Page"
2nd way of login as mentioned in #11 discussion

[2019-02-26 04:13] andrewdlqnguyen commented on #21
For this admin rights:
After admin logs in by pressing the top right and inputting their authentications, do we want an edit icon to appear on the other pages after submit?

ex/
Issue #30 will have login and password and after submit, it redirect back to the main page  with additional option to edit(icon) ya?

[2019-02-26 20:11] RyanWork commented on #2
Closed: It works, go login to Heroku and openapp and it should be there :)

[2019-02-26 20:11] #2 closed, assigned to nobody

[2019-02-26 20:14] RyanWork opened #32 "Create DB Image from IntelliJ (ER diagram)"
Title. We will need to wait for #18 before IntelliJ will create anything I believe.

[2019-02-27 14:39] K-shamG commented on #21
I agree with the login and then redirect to main page for editing. As far as I understood, an admin should be able to add or remove categories and learning outcomes and assign those to courses/programs etc. In my mind, I'm picturing that an admin would login, see the main page and have an added dashboard page where they could see all the categories/learning outcomes and map them in that view. It c

[2019-02-27 14:39] #24 closed, assigned to K-shamG

[2019-02-28 00:19] K-shamG commented on #22
I think we just have to create a data.sql script for this.
https://www.baeldung.com/spring-boot-data-sql-and-schema-sql
https://stackoverflow.com/questions/38040572/spring-boot-loading-initial-data

[2019-02-28 19:52] K-shamG opened #33 "Connect DB to View"
Need #29 and #22 to be done first
- want to display data from DB on main view

[2019-02-28 19:53] K-shamG opened #34 "Regenerate tables upon submit"
Need #33 to be done first
- The view needs to grab the proper tables when a user hits submit on the program and year boxes.

[2019-02-28 19:54] #15 closed, assigned to RyanWork

[2019-02-28 20:29] RyanWork opened #35 "Model Validation"
We should probably annotate some of our model properties to validate the parameters. Things like `year` for example probably should never be anything less than 1900 for example.

We might need a discussion on what kinds of things we want to validate and what the parameters might be.

[2019-02-28 21:30] #18 closed, assigned to SupriyaGadigone

[2019-03-01 02:39] SupriyaGadigone opened #36 "Weekly scrum – March 8, 2019"
every team member should add comments with their own contribution, i.e. their answers to the questions:

* what have I done this week?
* what will I do next week?
* what is holding me back? (if applicable)
* Expected length: 1-2 sentences per item.

[2019-03-01 15:12] K-shamG commented on #26
What have I done this week?
* reviewed #18
* Created main view #24
* started populating DB #22
* formatting readme #3

What will I do next week?
* finish #22
* format read me #3

[2019-03-01 17:56] RyanWork commented on #28
@SupriyaGadigone Did you finish this in #29 ?

[2019-03-01 17:56] RyanWork commented on #26
What have I done this week?

- Reviewed #29, #27
- Made repository tests #31

What will I do next week?

- Start planning Validation #35
- Help out with login page??

[2019-03-01 18:05] SupriyaGadigone commented on #28
Yup I did, thanks for the reminder

[2019-03-01 18:05] #28 closed, assigned to RyanWork, SupriyaGadigone, adamstaples

[2019-03-01 18:10] SupriyaGadigone commented on #26
What have I done this week?

- Code Reviews #27, #31
- Create Model DB Connections #18
- Test Cases for Model DB Connections #28
- Started working on ER Diagram #32

What will I do next week?
- Continue work on ER Diagram #32
- Work on export to CSV #16

[2019-03-02 00:18] andrewdlqnguyen commented on #22
This is what i made for my data.sql. Not much but from what i found online. You probably had something similar or better.

This one is if you want to make a schema.h2.sql but we'd have to configure the hibernate to not auto generate from our classes.
`CREATE TABLE  'course' (
  [id] INTEGER NOT NULL AUTO_INCREMENT,
  [year] INTEGER NOT NULL,
  [name] VARCHAR(128) NOT NULL,
  [code] VARCHAR(128) NO

[2019-03-02 00:19] andrewdlqnguyen commented on #22
oops

[2019-03-02 00:23] andrewdlqnguyen commented on #36
what have I done this week?
Looked into Admin privileges for Issue #21
Connected DB to index #38
Looked into populating DB #22 (wasn't suppose to do this, oops)

what will I do next week?
Admin Page #30
Looking into working on test cases

what is holding me back?
fully understanding how everything connects. Need to do further research.

[2019-03-02 01:04] RyanWork commented on #36
Duplicate issue? #26 We already made a Scrum for today

[2019-03-02 01:43] SupriyaGadigone commented on #36
Sorry, copy pasted this, was meant for March 8, my bad!

[2019-03-02 03:54] adamstaples commented on #26
What have I done this week?

- Code Reviews #27
- Connected Database and view, with @andrewdlqnguyen #33
- Looked over populating database with data.sql file #22

What will I do next week?

- Complete Use case diagram #10
- Once population of database is complete take a second look at #33

What is holding me back? (if applicable)
Other course commitments due to midterm season (Sorry about the use

[2019-03-02 18:11] andrewdlqnguyen commented on #36
oooohshittt

[2019-03-02 18:12] andrewdlqnguyen commented on #26
what have I done this week?
Code Review
Looked into Admin privileges for Issue #21
Connected DB to index #33
Looked into populating DB #22 (wasn't suppose to do this, oops)

what will I do next week?
Admin Page #30
Looking into working on test cases

what is holding me back?
Had trouble organizing myself with things to do on timely base. Will fix this.
fully understanding how everything connects.

[2019-03-03 18:14] SupriyaGadigone opened #39 "March 6 (Wednesday) Demo"
I am not sure if we need to have anything formal but it will be nice to have some organization for the 15 minute demo.

The requirements for this demo states that:
1. Should collect data from the back end, do something with it and display the result.
2. There should be a GitHub repo, integrated with Travis CI (or other hosted CI), and the app should be up and running on Heroku.
3.  Inspect the REA

[2019-03-03 22:27] andrewdlqnguyen commented on #39
They'll probably have a guideline something similar to 3303 and what you listed.
Milestone 1 and 2 are presented to the TA, i'm sure it won't be really strict.

[2019-03-03 22:44] andrewdlqnguyen commented on #35
For the years i was thinking a backtrack of 5 years. So for 2019, it'll pull back to when we first started in 2014.

Kinda like how Carleton updated their program tree.
https://carleton.ca/engineering-design/current-students/undergrad-academic-support/prerequisites/

In the description:
"A course belongs to one or many programs, and a program has many courses (in a given year). A course is taught

[2019-03-04 02:33] RyanWork commented on #35
I questioned the same thing. I wasn't really sure if it was saying like school year is denoted by 1st, 2nd, 3rd, 4th and henceforth, should not be the year. I think it really is kind of confusing the way they worded it and we can ask the TA on Wednesday.

If that is the case, we can just limit the range on year from 1-4 then??

[2019-03-04 02:34] RyanWork opened #41 "Clean up Test Cases"
As I mentioned in [#40](https://github.com/sysc4806/SYSC4806-WDWH/pull/40#discussion_r261905653), we might want to separate some of our test data and the actual data.

[2019-03-04 02:39] K-shamG commented on #35
It's supposed to be 1-4. Think of it like the engineering progression trees and how they map that out. That is how I imagine it.

[2019-03-04 02:47] K-shamG commented on #22
This is not done via data.sql or PostgreSQL, but it is working and mapping properly through Application so I'm going to consider this closed. We can open a new issue if we want to persist the data with PostgreSQL later.

[2019-03-04 02:47] #22 closed, assigned to K-shamG

[2019-03-04 23:07] #26 closed, assigned to RyanWork, SupriyaGadigone, K-shamG, adamstaples, andrewdlqnguyen

[2019-03-04 23:08] #33 closed, assigned to adamstaples, andrewdlqnguyen

[2019-03-04 23:30] RyanWork commented on #41
Looking into the recent pull requests in #43 and #45, I think our tests aren't scaling well either. Between these pull requests, they both managed to change the value of the expected value as seen here:

![image](https://user-images.githubusercontent.com/15223407/53770021-a203d280-3eab-11e9-8a81-51413bd70734.png)

I propose that we should just be asserting that the value is not zero and not null i

[2019-03-05 15:57] K-shamG commented on #32
Instructions to generate (should be done before each iteration):

1. View->Tool Windows->Persistance
2. Right Click entityManagerFactory and click ER Diagram

![image](https://user-images.githubusercontent.com/15951317/53817855-a58f6c00-3f34-11e9-9e51-c5a40b7076e4.png)

[2019-03-05 15:59] #32 closed, assigned to K-shamG

[2019-03-05 18:15] #9 closed, assigned to RyanWork

[2019-03-05 18:57] #3 closed, assigned to K-shamG

[2019-03-05 18:58] #39 closed, assigned to RyanWork, SupriyaGadigone, K-shamG, adamstaples, andrewdlqnguyen

[2019-03-05 22:05] RyanWork opened #48 ".gitignore Target and Other Compiled Stuff"
I think we need to change our .gitignore. Our .gitignore is sufficient for just using the IntelliJ IDE. However, you may notice the "target/" folder has changes every time you commit, but never actually changed anything in there!

The "target/" folder is compiled data from Maven. I believe the general rule of thumb is that we should not be committing any compiled files/binaries to the repository.

[2019-03-05 22:10] adamstaples commented on #10
Hey folks, here is the UCM:
Let me know what you think.
Some reasons why I did things:

- the "Edit Database" I guess should include things like "edit", "add" and "remove". To make htings more readable I just left those all under "Update" implying all of the above are possible.
- I was a little iffy about the <<include>> relationships and if they are even necessary. I like having them there though

[2019-03-05 23:44] andrewdlqnguyen commented on #48
Yeaa this was the problem i was getting. The target folder keeps on changing after push. and when pulled from remote, i sometime got errors which made me confused cuz i was not aware of making any changes to them.

like few changes i noticed were some silly refactors on class/method names (ex getListRepository turned into GetListRepository)

[2019-03-05 23:46] andrewdlqnguyen opened #49 "Delete old branches"
We should delete any old branches we don't need anymore to keep it organized.

[2019-03-06 03:57] RyanWork commented on #49
I deleted my repositoryDB branch. I initially left it there for a while cause I was gonna write some more test cases, but I'll just make a new branch later if I decide to do it.

[2019-03-06 14:37] RyanWork opened #51 "Plan Admin View"
SPA VS NAH.

[2019-03-08 19:44] SupriyaGadigone commented on #36
What have I done this week?

- Code reviews #47, #45
- Initiated work on ER Diagrams #32

What will I do next week?

- CVS Export #16
- .gitignore Target and Other Compiled Stuff #48

[2019-03-08 19:46] SupriyaGadigone opened #52 "Weekly scrum – March 15, 2019"
every team member should add comments with their own contribution, i.e. their answers to the questions:

what have I done this week?
what will I do next week?
what is holding me back? (if applicable)
Expected length: 1-2 sentences per item.

[2019-03-08 19:58] K-shamG commented on #36
What have I done this week?
* Code Reviews #38, #42, #33
* Create ER Diagram #46
* Mappings fix #40, #45
* improved constructors and relationships
* readme #3

What will I do next week?
* Regenerate tables #34
* format initial view of tables
* aid in Admin page design #21

[2019-03-08 20:08] #49 closed, assigned to nobody

[2019-03-08 20:14] andrewdlqnguyen commented on #36
what have I done this week?
Populated Db to view #33
Looked into admin authentication #21
gave opinion on Model Validation #35

what will I do next week?
Finish up #30
Try to finish #21

[2019-03-08 21:15] RyanWork commented on #36
What have I done this week?

- Code Reviews: #38, #40, #50
- Made some changes for test scaling #47

What will I do next week?

- Figure out if we need to change the test data?? I still don't know if I should. There's too many conflicting arguments online :(
- Work on some of the front end integration :).

[2019-03-09 20:46] adamstaples commented on #36
Very sorry this was late, got caught up in project.

what have I done this week?
Code Review: #38 #33
Worked on #33 with andrew
Completed the UC diagrams: #10

what will I do next week?
Work on the the edit/add/remove functionality

what is holding me back? (if applicable)

[2019-03-10 02:30] RyanWork commented on #48
See #53

[2019-03-10 02:30] #48 closed, assigned to SupriyaGadigone

[2019-03-10 06:20] #36 closed, assigned to RyanWork, SupriyaGadigone, K-shamG, adamstaples, andrewdlqnguyen

[2019-03-10 19:58] K-shamG commented on #10
I'm fine with the UCM. All the features are there for what we are aiming for. Since this diagram was more to organize what features we needed, I think this issue can be closed.

[2019-03-10 19:58] #10 closed, assigned to adamstaples

[2019-03-10 21:00] RyanWork opened #55 "Change our ugly icon"
Hi,

We look like plebs.

![image](https://user-images.githubusercontent.com/15223407/54091391-e84aad00-4355-11e9-88ad-b2107c4772d1.png)

What is this? Some kind of tutorial that we're following? P-U-K-E.

[2019-03-10 21:05] #34 closed, assigned to K-shamG

[2019-03-10 21:22] K-shamG opened #56 "Select for Years"
- Right now it is hardcoded to 1 - 5

Possible Options
- change options available based on onchange of program
- populate with years available from any course
- remain hardcoded but done with enums

[2019-03-10 21:23] K-shamG opened #57 "How to populate data?"
Right now it is done with Application command line runner.
Do we want to convert this to data.sql or postgreSQL? What is everyone's opinion on this one?

[2019-03-10 21:26] K-shamG opened #58 "Sprint 2 Readme Updates"

[2019-03-11 03:23] SupriyaGadigone commented on #35
Just starting this discussion up again

Category:
- Name: Cannot be null or ""
- Learning Outcomes: It's okay for this to be empty?

Course:
- Year: Range would be from Todays year to back to 4 years
- Name: Cannot be null or ""
- Code: Cannot be null or ""

Learning outcomes:
- Name: Cannot be null or ""
- Category: Can be null or empty I think cause a learning outcome can be not assigned yet
- C

[2019-03-11 05:54] andrewdlqnguyen commented on #57
i thought data.sql would be the easiest but i couldnt get it to work when i tried. something to do with setting up the database source n having user/pass authentication.

I wouldnt mind postgres since there's steps to do it from Babak.

[2019-03-11 05:55] andrewdlqnguyen commented on #56
i vote for enums.
could just pass an equal comparison when the years are clicked to check course year.

[2019-03-11 06:31] andrewdlqnguyen opened #59 "Edit Interface Suggestions."
Refer to #21
How do we want the interface to look when admin is logged in?

This is what i was thinking it might happen:
phase 1: user logs in
phase 2: backend verifies account, if true then interface will look like this. You see an edit option top right
![step1](https://user-images.githubusercontent.com/25157934/54103971-b3197b80-43a4-11e9-8426-bebd6a39ed73.PNG)
phase 3: when pressed, screen fade

[2019-03-11 12:39] K-shamG commented on #57
@andrewdlqnguyen did you try data.sql before or after I fixed the mappings?

[2019-03-11 12:44] K-shamG commented on #59
I like the way you are using the modal to edit or add a new in the same box. But how will you edit/add a program from this same box? Also, I find the edit in the top right corner not very intuitive. If I were using this, I would not really know what I was about to edit by clicking this button since it is not located beside a program or course etc. This was one of the reasons I was hesitant on havi

[2019-03-11 13:03] K-shamG commented on #35
Category
* LO not assigned til later, can be empty

Course
* Year: Would not be "today's year", but as we discussed in prior comments, it should be 1-4

LO
* I don't think category should be null -> its two constructor args are name and category

Program
* Course is no longer an arg in it's constructor so it can be empty at start and added later

[2019-03-11 16:28] andrewdlqnguyen commented on #59
ya i agree with you, that was something i was iffy about too but placing the edit beside each of them would look cluttered. hmm
Would it prob be better to differentiate from the two by providing a second page for admins then? I wanted to try n stick with SPA.

If we stick with SPA then i think the modal will prob have to break down in more steps to understand what Edit really does.
OR
Another box

[2019-03-11 16:32] andrewdlqnguyen commented on #57
oh....before. LOL
That maybe why.. :D

[2019-03-11 16:51] K-shamG commented on #59
Yeah I would like to keep it SPA as well. The second navbar could be cool.
Another option is having the second nav bar for add/delete and an edit on the table row. The admins table would show program, course, category and LO (more than what a regular user sees) and then there is an edit button for the row.

![image](https://user-images.githubusercontent.com/15951317/54141308-c99ef180-43fb-11e9-856

[2019-03-11 16:59] RyanWork commented on #57
I'm okay with the data.sql. But if you want to take the opportunity to learn and do Postgres I'm not opposed to it. Idk what the details are behind it though, is it a lot of work?

[2019-03-11 17:03] RyanWork commented on #56
Can you elaborate on this? Like the select would populate the list based on the range of years that the courses are offered in?

I think it's better for it to be dynamic. Some courses, like a master's program, wouldn't have any courses for its 3rd and 4th year; if it were a two year master's program for example. From a basic perspective, I think just having it hard coded with enums is okay, but we

[2019-03-11 17:36] K-shamG commented on #56
Yes, exactly. The select would populate when it changed values.

[2019-03-11 17:39] K-shamG commented on #57
Idk either. I start with data.sql and we can convert to postgreSQL for final iteration/if there is time

[2019-03-11 18:14] K-shamG opened #60 "ERROR PAGE"
the default page is uggo

[2019-03-15 22:51] K-shamG commented on #52
What have I done this week?
- Error page #60
- Logo #55
- Sorting #20
- Populate data with data.sql #57
- Discussion for #59, #35, #56

What will I do next week?
- aid with #16

What is holding me back? (if applicable)
- my pull requests have not been reviewed

[2019-03-15 23:11] andrewdlqnguyen commented on #52
What have I done this week?
- Figuring out interface for admin #59
- Reviewed #63  #61
- Middle of implementing admin page + login edit system #30 #21

What will I do next week?
- Finish all admin topic for 2nd iteration.

What is holding be back?
- This week has been busy with fourth year project.

[2019-03-15 23:29] andrewdlqnguyen commented on #51
SPA

[2019-03-15 23:43] #57 closed, assigned to RyanWork, SupriyaGadigone, K-shamG, adamstaples, andrewdlqnguyen

[2019-03-15 23:48] #55 closed, assigned to K-shamG

[2019-03-15 23:52] RyanWork opened #65 "Test and Check Table Scaling on multiple LOs"
We should check how the table scales if there are a lot of learning outcomes for example. I have a feeling it just kind of makes a bunch of entries and doesn't stop.

_Originally posted by @K-shamG in https://github.com/sysc4806/SYSC4806-WDWH/pull/63#issuecomment-473473818_

[2019-03-15 23:52] #20 closed, assigned to K-shamG

[2019-03-15 23:52] andrewdlqnguyen commented on #59
Hmm I liked that second idea! "show program, course, category and LO (more than what a regular user sees) and then there is an edit button for the row.

I looked more into doing something like this but i couldnt wrap my head around seeing it work.

But i also got another idea
How does this sound:
Something similar to your #63 issue with the sorting but for admin view.

-A master table will appear

[2019-03-15 23:54] #60 closed, assigned to K-shamG

[2019-03-16 01:50] RyanWork commented on #52
What have I done this week?

- Reviewed #54, #61, #63
- Fixed most of the test cases. Expanding on #47

What will I do next week?
- Actually work on it for once. Hope to finish these test cases
- Starting helping on the front end :(

What is hold me back? (if applicable)
- Dying from school in general
- The LearningOutcome isn't saving the course I'm adding right now :( It's the last test set I ne

[2019-03-16 02:57] SupriyaGadigone commented on #52
What have I done this week?

- Started working on CSV #16
- Started working on Filter #19
- .gitignore #48

What will I do next week?

- Finishing up CSV #16
- Finishing up Filter #19

[2019-03-16 03:30] adamstaples commented on #52
What have I done this week?
- Reviewed #54 #61 #57
- Initial work for add, remove and edit features.

What will I do next week?
- Work more on the add, remove and edit features

What is holding be back?
Project.... you folks know whatsup

[2019-03-16 16:41] #52 closed, assigned to RyanWork, SupriyaGadigone, K-shamG, adamstaples, andrewdlqnguyen

[2019-03-16 16:41] RyanWork opened #66 "Weekly scrum - March 22, 2019"
every team member should add comments with their own contribution, i.e. their answers to the questions:

what have I done this week?
what will I do next week?
what is holding me back? (if applicable)
Expected length: 1-2 sentences per item.

[2019-03-17 22:08] K-shamG commented on #59
I think the add in a the master table columns is a good idea! Very intuitive for the admin. Also yes to the filtering - this is easier since we will already have that logic implemented as well.

[2019-03-18 05:02] andrewdlqnguyen opened #69 "Spring Security"
So Im working on making the Spring Security and the configuration is not made for SPA. The methods given redirects to pages depending on login output.

From online, I found that I would have to install Spring Lemon and use Handlers if we want to keep it SPA but that I'll have to look more into.

You guys cool if we use multi page? Only pages we'll prob need r just Login, Index - User View, Index -

[2019-03-18 12:44] K-shamG commented on #69
I'm fine with multi page for the login stuff!

[2019-03-18 13:23] RyanWork commented on #69
Yeah I think that's okay. We dont have to make the entire thing truly SPA. If anything that might be a final iteration feature. I would focus on getting it working first.

[2019-03-18 14:39] #69 closed, assigned to RyanWork, SupriyaGadigone, K-shamG, adamstaples

[2019-03-19 00:42] #41 closed, assigned to RyanWork

[2019-03-19 00:44] #51 closed, assigned to andrewdlqnguyen

[2019-03-19 12:13] RyanWork opened #73 "Cant wire Beans on Tests"
IntelliJ is angry and says it can't wire the beans for the repositories in my test cases. Despite saying this, the tests work fine. So I dont know if that's a bug on IntelliJs end because if it couldn't wire the beans then I wouldnt be able to use the repositories.

I might look into just suppressing the warnings if that's the case.

[2019-03-19 14:32] andrewdlqnguyen commented on #73
Would this be a problem for Travis?

This is what i did to bypass it:
https://stackoverflow.com/questions/26889970/intellij-incorrectly-saying-no-beans-of-type-found-for-autowired-repository

seems prone to future problems if it really isnt InteillJ's fault

[2019-03-19 14:35] andrewdlqnguyen commented on #73
oops

[2019-03-19 15:16] #58 closed, assigned to K-shamG

[2019-03-19 18:05] RyanWork commented on #73
Based on the answer to that, it is just a an IntelliJ interpretation. This means in terms of building and compilation it doesn't actually negatively impact the program. It's just intelliJ has problems recognizing that this is valid.

Travis is just using a build tool to run tests. It builds it and runs it, nothing more. It probably won't even notice that there is something that says "cannot wire b

[2019-03-20 01:09] #16 closed, assigned to SupriyaGadigone

[2019-03-20 01:49] #19 closed, assigned to SupriyaGadigone

[2019-03-20 04:13] #21 closed, assigned to andrewdlqnguyen

[2019-03-20 04:14] #30 closed, assigned to andrewdlqnguyen

[2019-03-22 04:13] SupriyaGadigone opened #79 "Weekly scrum - March 29, 2019"
every team member should add comments with their own contribution, i.e. their answers to the questions:

what have I done this week?
what will I do next week?
what is holding me back? (if applicable)
Expected length: 1-2 sentences per item.

[2019-03-22 04:17] SupriyaGadigone commented on #66
What have I done this week?

- Code Reviews #78, #68
- Finished working on CSV #16
- Finished working on Filter #19

What will I do next week?

- Work on fixing any bugs with the features I have implemented
- Model Validation #35
- Yet to discuss the parts with the team (will update as decided)

[2019-03-22 15:35] RyanWork commented on #66
What have I done this week?

- Independent Test Cases in #68
- Removed the Target Folder #64
- Helped Adam in Fixing Add feature #78
- Reviewed #72

What will I do next week?

- Help clean up the add feature
- Delete/Update feature?

[2019-03-22 15:37] #73 closed, assigned to RyanWork

[2019-03-22 19:20] K-shamG commented on #66
What have I done this week?
* Reviewed #16, #51, #30
* Helped fix build failure for admin security changes

What will I do next week?
* admin features
* test view with more data #65
* select for years #56

[2019-03-22 19:37] #59 closed, assigned to RyanWork, SupriyaGadigone, K-shamG, adamstaples

[2019-03-22 19:47] andrewdlqnguyen commented on #66
what have I done this week?
- Made the Admin Page interface #59
- Made the login page + security #51 #21 #69
- Helped with #73
- Reviewed #70 #63

what will I do next week?
- Change the filter system on admin page to same one as user page
- Possibly change user/pass to avoid deprecation (encryption?) - not too important
- Looking into breaking the site and find problems.

[2019-03-25 22:06] RyanWork opened #80 "Completing Add feature"

[2019-03-25 22:06] RyanWork opened #81 "Edit Feature"
Make it yo.

[2019-03-25 22:06] RyanWork opened #82 "Delete Feature"

[2019-03-25 22:44] adamstaples commented on #66
what have I done this week?

- Reviewed login page and security #69
- Began adding new add features.
- Updated admin page with edit button and table similar to user page

what will I do next week?

- Finish the admin page #80
- work on edit feature #81

what is holding me back? (if applicable)
NA

[2019-03-26 00:33] #66 closed, assigned to RyanWork, SupriyaGadigone, K-shamG, adamstaples, andrewdlqnguyen

[2019-03-28 15:11] #56 closed, assigned to K-shamG

[2019-03-28 22:33] andrewdlqnguyen opened #86 "New Filtering System for Admin Page"
I was trying to replicate the same filtering system as the index page but seems there are some more changes that needs to be made for multiple categories to appear. I dont fully understand all the connections yet so I couldnt get it to properly filter (It just replaces the admin table with the regular table which i can see that happening in HomeController and index javascipt). I could look more in

[2019-03-29 15:33] SupriyaGadigone commented on #79
What have I done this week?

- Code Reviews #84
- Started working on Model Validation #35

What will I do next week?

- Finish up  Model Validation #35
- Anything els that needs to be done

[2019-03-29 15:50] RyanWork commented on #80
As requested through @K-shamG in PR #84, we need to change some of the form fields to tagging/list based concepts. On the todo list:

1. Change fields to drop downs to allow the admin to select from a list.
2. Change the learning outcome field to be a tagging based approach so we can apply multiple learning outcomes to a single relationship.

[2019-03-29 15:56] RyanWork commented on #79
What have I done this week?

- Reviewed #83
- Implemented add feature #78 #80

What will I do next week?

- Apply changes as discussed in #80

[2019-03-29 16:15] andrewdlqnguyen commented on #79
What have I done this week?

- Reviewed #83
- Cleaned up some of the codes for admin page
- Started working on Delete Feature #82

What will I do next week?
- Finish Delete Feature #82
- Look into the Filter for Admin

[2019-03-29 16:46] K-shamG commented on #79
What have I done this week?
* #56
* Reviewed #84

What will I do next week?
* testing for many LO's, adjust view accordingly

[2019-03-30 00:52] adamstaples commented on #79
what have I done this week?
Reviewed #84
Began work  for edit #81
Reviewed Add feature Implementation

what will I do next week?
Continuing work on #84  and #81

what is holding me back? (if applicable)

[2019-03-30 02:07] #79 closed, assigned to RyanWork, SupriyaGadigone, K-shamG, adamstaples, andrewdlqnguyen

[2019-03-31 16:03] K-shamG commented on #86
IMO, filtering in admin is not really necessary because we have the search bar in the table already. opinions? @adamstaples @RyanWork @SupriyaGadigone

[2019-03-31 19:03] RyanWork commented on #86
He already removed the filtering stuff from the addfeature branch.

[2019-03-31 19:13] #86 closed, assigned to nobody

[2019-03-31 19:39] #65 closed, assigned to K-shamG

[2019-04-02 01:16] #82 closed, assigned to andrewdlqnguyen

[2019-04-02 14:46] #35 closed, assigned to SupriyaGadigone

[2019-04-02 15:33] K-shamG opened #90 "Delete LO, Program, Category"
should cascade to other courses
- right now we can only delete a course

[2019-04-02 15:37] K-shamG opened #91 "H2-Console is broken"
![image](https://user-images.githubusercontent.com/15951317/55415744-969fd780-553b-11e9-85f0-3958605b506c.png)

Add this line to WebSecurityConfig: http.headers().frameOptions().disable(); and "/h2-console/**" to permitAll()
And then you can login, but the tables show up as null

[2019-04-02 23:16] #80 closed, assigned to RyanWork, adamstaples

[2019-04-03 03:29] #81 closed, assigned to RyanWork

[2019-04-03 04:11] #90 closed, assigned to K-shamG